<div fxLayout="column wrap" class="full-height" fxLayoutAlign="start center" [fxShow]="true">
  <div fxLayout="column wrap" class="full-height standard-width" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" class="height-100px padding-15px" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="column wrap" class="full-height" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="./Web/Images/black_neutrinos.png" class="full-width full-height"></div>
      <div fxLayout="column wrap" class="auth-h2" fxLayoutAlign="end stretch" [fxShow]="true">
        <h2 class="margin-left-1em no-margin poppins-light">
          Smart Home</h2>
      </div>
    </div>
    <div fxLayout="row wrap" class="relative full-width height-35 bg-black" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" class="full-width" fxLayoutAlign="center stretch" [fxShow]="true">
        <h1 class="color-w poppins-light">
          Welcome to <span class="font-weight-500"> Neutrinos Smart Home </span></h1>
      </div>
    </div>
    <div fxLayout="column wrap" class="bg-white z-index-1 log-in-card absolute height-150px box-shadow-lg width-70" fxLayoutAlign="center center" [fxShow]="true">
      <div fxLayout="row wrap" fxLayoutGap="2em" fxLayoutAlign="center center" [fxShow]="true">
        <div fxLayout="column wrap" class="speaker-c" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="./Web/Images/speaker.jpg" class="full-width full-height"></div>
        <div fxLayout="column wrap" class="poppins-light" fxFlex="85" fxLayoutAlign="start stretch" [fxShow]="true">
          <h4>
            Please note that, this application only allows logging in with neutrinos. Please ensure that you are an employee at neutrinos and have an account before trying to log in.</h4>
        </div>
      </div>
    </div>
    <div fxLayout="column wrap" class="flex-1" fxLayoutAlign="center center" [fxShow]="true">
      <div fxLayout="row wrap" class="width-200px padding-15px inline pointer btn" fxLayoutGap="1.5em" fxLayoutAlign="center center" [fxShow]="true">
        <p class="inline poppins-light no-margin">
          Log In with</p>
        <div fxLayout="column wrap" class="small-logo-30px" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="./Web/Images/red_neu.png" class="full-width full-height"></div>
      </div>
    </div>
  </div>
</div>